.app-wrapper {

    display: grid;
    grid-template-areas:
  "h h"
  "n c";
    grid-template-rows:60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.content {
    grid-area: c;
    background-color: rgb(232, 247, 232);
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgb(214, 229, 190);

}

